{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/library.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Online Books Library</title>
</head>
<body>
<nav id="site-header" class="navbar">
    <section class="navbar-dashboard">
            <a id="home-button" href="{% url 'index' %}">Dashboard</a>
        {% if user.is_authenticated %}
            <div>
                <span>Welcome, {{ user }}</span>
                <a class="button" href="{% url 'index' %}">Add Book</a>
                <a class="button" href="{% url 'details user' pk=request.user.pk %}">Profile</a>
                <a class="button" href="{% url 'logout user' %}">Log Out</a>
                {% if user.is_staff %}
                    <a class="button" href="admin/">Staff</a>
                {% endif %}
            </div>
        {% else %}
            <div>
                <a class="button" href="{% url 'register user' %}">Register</a>
                <a class="button" href="{% url 'login user' %}">Log In</a>
            </div>
        {% endif %}


    </section>
</nav>

{% block PageContent %}
{% endblock %}

<footer id="site-footer">
    <p>Python Web Basics Retake Exam @SoftUni</p>
</footer>


</body>
</html>