{% extends 'base/base.html' %}
{% load static %}


{% block PageContent %}

    <div id="container">
        <!-- Dashboard Page-->
        <section id="dashboard-page" class="dashboard">
            <h1>Dashboard</h1>
            {% if books %}
                {% for book in books|slice:':3:' %}
                    <ul class="my-books-list">
                    <li class="myBooks">
                        <h3>{{ book.title }}</h3>
                        <p>Type: {{ book.type }}</p>
                        <p class="img"><img src="{{ book.image }}" alt=""></p>
                        <a class="button" href="{% url 'details book' pk=book.pk %}">Details</a>
                    </li>
                {% endfor %}

            </ul>
            {% else %}
                <p class="no-books">No books in database!</p>
            {% endif %}
        </section>
    </div>
{% endblock %}

