{% extends 'base/base.html' %}
{% block PageContent %}
    <div id="container">
        <section id="profile-page" class="details">
            <div class="profile-information">
                <h3>{{ fullname}}</h3>
                <p class="img"><img src="{{ profile.image_url}}" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit accounts' %}">Edit</a>
                    <a class="button" href="{% url 'delete accounts' %}">Delete</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
