{% extends 'base/base.html' %}



{% block PageContent %}

    <div id="container">

        <!-- Details Page -->
        <section id="details-page" class="details">
            <div class="book-information">
                <h3>{{ object.title}} </h3>
                <p class="type">Type: {{ object.type }}</p>
                <p class="img"><img src="{{ object.image}}" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit book' pk=object.pk%}">Edit</a>
                    <a class="button" href="{% url 'delete book' pk=object.pk%}">Delete</a>
                </div>
            </div>
            <div class="book-description">
                <h3>Description:</h3>
                <p>{{ object.description}}</p>
            </div>
        </section>

    </div>
{% endblock %}

