{% extends 'base/base.html' %}
{% block PageContent %}
    <div id="container">
        <section id="edit-page" class="edit">
            <form id="edit-form" action="{% url 'edit book' pk=object.pk%}" method="post">
                <fieldset>
                    <legend>Edit Book</legend>
                    <label for="title">Title</label>
                    {{ form.title }}
                    <label for="description">Description</label>
                    {{ form.description }}
                    <label for="image">Image</label>
                    {{ form.image }}
                    <label for="type">Type</label>
                    {{ form.type }}
                    <input class="button submit" type="submit" value="Edit">
                </fieldset>
                    {% csrf_token %}

            </form>
        </section>


    </div>
{% endblock %}